@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media screen and (max-width:1050px) {
    .topNav {
        padding: 0 2rem;
    }

    .hamburger {
        display: flex;
    }

    .mainMenu {
        display: none;
    }

    .hero {
        align-items: center;
    }

    .heroLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    .heroLeft h1 {
        font-size: 17vw;
        text-align: center;
        line-height: 14vw;
    }

    .heroLeft .searchForm {
        width: 100%;
    }

    .heroLeft .searchForm input {
        width: 100%;
    }

    .heroRight {
        display: none;
    }
}