@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    height: 500px;
    width: 95vw;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 0 100px #566cfc3b;
    display: flex;
    overflow: hidden;
}

.wrapper-left {
    flex: 1.5;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-left h2 {
    font-size: 2rem;
    font-weight: 400;
}

.wrapper-left h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #566bfc;
    margin-bottom: 2rem;
}

.input-container {
    display: flex;
    box-shadow: 0 0 5px #566cfc3b;
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    height: 3.5rem;
    padding: 0 1rem;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.input-container label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container label img {
    width: 25px;
    vertical-align: center;
}

.input-container input {
    all: unset;
    width: 100%;
}

.extra {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    padding: .5rem;
    align-items: center;
}

.extra a {
    color: #566bfc;
}

.submit-button {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.submit-button button {
    all: unset;
    padding: .5rem 3rem;
    background-color: #566bfc;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.signup {
    font-size: .8rem;
    margin-top: 1rem;
}

.wrapper-right {
    flex: 1;
    background-color: #566bfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.wrapper-right img {
    width: 70%;
}

@media screen and (max-width: 800px) {
    .wrapper-right {
        display: none;
    }

    .input-container {
        width: 100%;
    }
}